<div id="ad-middle">
    <!-- /33927765/Middle -->
    <div id='div-gpt-ad-1455921672525-1'>
        <script type='text/javascript'>
            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1455921672525-1'); });
        </script>
    </div>
</div>